:root {
  --bg-dark: #0b0b0b;
  --card-bg: #f0f0f0;
  --orange-main: #ff7d00;
  --orange-dark: #b65310;
  --orange-border: #df7126;
  --text-dark: #222;
}

/* ===== Fondo global ===== */
ion-content {
  background: var(--bg-dark);
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Daydream', system-ui, sans-serif;
}

/* ===== Logo ===== */
#header-logo {
  height: 80px;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

#header-logo:hover {
  transform: scale(1.1);
}

/* ===== Loading ===== */
.loading-text {
  color: var(--orange-main);
  font-size: 1.2em;
  margin-top: 20px;
}

/* ===== Título ===== */
h1 {
  margin: 30px 0;
  color: var(--orange-main);
  text-align: center;
  text-shadow: 2px 2px 0px #000;
}

/* ===== Tarjeta de personaje ===== */
.character-card {
  background: var(--card-bg);
  color: var(--text-dark);
  width: 90%;
  max-width: 900px;
  padding: 16px;
  margin-bottom: 30px;

  border-left: 6px solid var(--orange-main);
  border-radius: 10px;

  box-shadow:
    0px 0px 0px 4px var(--orange-border),
    0px 8px 0px 4px var(--orange-dark);

  image-rendering: pixelated;
}

.character-card h2 {
  margin-bottom: 10px;
  color: var(--orange-main);
  text-shadow: 1px 1px 0px #000;
}

.character-card p {
  font-size: 0.9em;
  margin: 3px 0;
}

/* ===== Contenedor de items ===== */
.items-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

/* ===== Tarjeta de item ===== */
.item-card {
  background: #ffffff;
  padding: 10px;

  border-left: 5px solid var(--orange-main);
  border-radius: 8px;

  box-shadow:
    0px 0px 0px 3px var(--orange-border),
    0px 6px 0px 3px var(--orange-dark);

  font-family: 'Daydream', system-ui, sans-serif;
  image-rendering: pixelated;
}

.item-card h3 {
  margin: 0;
  color: #222;
  font-size: 0.95em;
  text-shadow: 1px 1px 0px #ff7d00;
}


.item-card p {
  font-size: 0.8em;
  margin: 2px 0;
  color: #333;
}

.sell-btn {
  background: var(--orange-main);
  color: #000;
  border: none;
  padding: 4px 8px;

  font-family: 'Daydream', system-ui, sans-serif;
  font-size: 0.7em;

  border-radius: 6px;
  cursor: pointer;

  box-shadow:
    0px 0px 0px 2px var(--orange-border),
    0px 3px 0px 2px var(--orange-dark);
}

.sell-btn:hover {
  background: #ff9a3c;
}

.sell-btn:active {
  transform: translateY(2px);
  box-shadow:
    0px 0px 0px 2px var(--orange-border),
    0px 1px 0px 2px var(--orange-dark);
}
