ion-content{--background:white;}

.inventory-grid{
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
  gap:25px;
}

.item-card{
  background:#ff7d00;
  padding:15px;
  font-family:'Daydream',system-ui;
  color:white;
  box-shadow:
  0 0 0 4px #df7126,
  0 8px 0 4px #b65310;
}

.item-img{
  width:100%;
  height:140px;
  background:black;
  border:3px solid white;
  margin-bottom:10px;
  object-fit:contain;
}

.action-btn{
  width:100%;
  background:#222;
  color:white;
  border:none;
  padding:10px;
  margin-top:5px;
  box-shadow:
  0 0 0 3px #555,
  0 6px 0 3px #111;
}
.action-btn:active{
  transform:translateY(4px);
}
