ion-grid{
    height: 100%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ff7d00;
}

ion-col{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

a{
    color: black;
}

#game-col{
    width: 70%;
    height: 100%;
}

#ia_box{
    overflow-y: auto;
    width: 100%;
    height: 80%;
    border: 2px #b65310 solid;
    margin: 5px;
    padding: 5%;
    justify-content: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    color: black;
    background-color: white;
}

.options-box{
    width: 100%;
}

.option-button{
    --background: white;
    margin-left: 5%;
    margin-right: 5%;
}

.option-button:hover{
    transform: scale(1.5);
}

.option-button:active{
    transform: scale(0.8)
}

#characterinfo-div{
    position: absolute;
    top: 5%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

