<ion-content [fullscreen]="true">

  <ion-grid id="menu-grid">

    <div id="logo_div">
      <img src="../../assets/title.png" id="main-logo">
    </div>

    <!-- FILA SUPERIOR -->
    <ion-row class="menu-row">

      <div class="menu-button" (click)="goTo('inventory')">
        <h1>Inventory</h1>
      </div>

      <div class="menu-button" (click)="goTo('market')">
        <h1>Market</h1>
      </div>

      <div class="menu-button" (click)="goTo('ranking')">
        <h1>Ranking</h1>
      </div>

    </ion-row>

    <!-- FILA INFERIOR -->
    <ion-row class="menu-row">

      <div class="menu-button" (click)="goTo('item-shop')">
        <h1>Item Shop</h1>
      </div>

      <div class="menu-button" (click)="goTo('login')">
        <h1>Login</h1>
      </div>

      <div class="menu-button" (click)="goTo('game')">
        <h1>Play</h1>
      </div>

    </ion-row>

  </ion-grid>

</ion-content>
