<ion-content [fullscreen]="true">

  <div style="position: absolute; top: 10px; right: 10px; z-index: 100; cursor: pointer;" (click)="toggleMute()">
      <ion-icon name="volume-high-outline" *ngIf="!volumeMute" size="large" style="color: white;"></ion-icon>
      <ion-icon name="volume-mute-outline" *ngIf="volumeMute" size="large" style="color: white;"></ion-icon>
  </div>

  <ion-grid id="menu-grid">

    <div id="logo_div">
      <img src="../../assets/title.png" id="main-logo">
    </div>

    <!-- FILA SUPERIOR -->
    <ion-row class="menu-row">

      <div class="menu-button" [class.disabled]="!isLogged" (click)="isLogged && goTo('characters')">
        <h1>Characters</h1>
        <span *ngIf="!isLogged" class="login-required">Login required</span>
      </div>


      <div class="menu-button disabled" (click)="goTo('market')">
        <h1>Market</h1>
        <span class="coming-soon">Coming soon...</span>
      </div>

      <div class="menu-button" [class.disabled]="!isLogged" (click)="goTo('ranking')">
        <h1>Ranking</h1>
        <span *ngIf="!isLogged" class="login-required">Login required</span>
      </div>

    </ion-row>

    <!-- FILA INFERIOR -->
    <ion-row class="menu-row1">

      <div class="menu-button disabled" (click)="goTo('item-shop')">
        <h1>Item Shop</h1>
        <span class="coming-soon">Coming soon...</span>
      </div>

      <div class="menu-button" (click)="handleAuth()">
        <h1>{{ isLogged ? 'Logout' : 'Login' }}</h1>
      </div>

      
      <div class="menu-button" [class.disabled]="!isLogged" (click)="goTo('inventory')">
        <h1>Inventory</h1>
        <span  *ngIf="!isLogged" class="login-required">Login required</span>
      </div>


    </ion-row>

  </ion-grid>

</ion-content>