ion-grid{
    background-color: white;
}

ion-row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo_div{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(40%)   scale(1.0);
}

#menu-grid{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
  background-color: #ff7d00;
  color: #ffffff;
  height: 20%;
  width: 20%;
  font-family: 'Daydream', system-ui, sans-serif; 
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 40px 60px;
  border: none;

  border-radius: 0;

  box-shadow:
    0px 0px 0px 4px #df7126,
    0px 8px 0px 4px #b65310;

  cursor: pointer;
  transition: transform 0.05s ease-in-out;
  image-rendering: pixelated;

  margin-left: 5%;
  margin-right: 5%;
}

.menu-button h1 {
  font-size: 100%;
  margin: 0;
}

.menu-button:active {
  transform: translateY(6px);
  box-shadow:
    0px 0px 0px 4px #df7126,
    0px 2px 0px 4px #b65310;
}